# URL de la API de Backend (Go)
API_BASE_URL=http://127.0.0.1:8080

# Credenciales de Firebase (solo requeridas para conectarse a un proyecto real de GCP/Firebase)
# Para el desarrollo local con emuladores, puedes dejar estas variables comentadas
# ya que Nuxt utilizará los valores ficticios (mock) por defecto.
#
# FIREBASE_API_KEY=tu-api-key
# FIREBASE_AUTH_DOMAIN=tu-auth-domain.firebaseapp.com
# FIREBASE_PROJECT_ID=rebideo-dev
# FIREBASE_STORAGE_BUCKET=tu-proyecto.appspot.com
# FIREBASE_MESSAGING_SENDER_ID=tu-sender-id
# FIREBASE_APP_ID=tu-app-id
