# URL de la API de Backend (Go)
NEXT_PUBLIC_API_BASE_URL=http://127.0.0.1:8080

# Credenciales de Firebase (solo requeridas para conectarse a un proyecto real de GCP/Firebase)
# Para el desarrollo local con emuladores, puedes dejar estas variables comentadas
# ya que Next.js utilizará los valores ficticios (mock) por defecto.
#
# NEXT_PUBLIC_FIREBASE_API_KEY=tu-api-key
# NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=tu-auth-domain.firebaseapp.com
# NEXT_PUBLIC_FIREBASE_PROJECT_ID=rebideo-dev
# NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=tu-proyecto.appspot.com
# NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=tu-sender-id
# NEXT_PUBLIC_FIREBASE_APP_ID=tu-app-id
