# Configuración del Servidor (Para producción / Webhooks)
PORT=8081
APP_ENV=local

# Configuración de Google Cloud Project
GOOGLE_CLOUD_PROJECT=rebideo-dev

# Configuración de Pub/Sub
# Para desarrollo local con emulador, descomenta/mantén la siguiente línea:
PUBSUB_EMULATOR_HOST=127.0.0.1:8085
PUBSUB_TOPIC_ID=raw-video-uploads
PUBSUB_SUB_ID=transcoder-sub

# Configuración de Google Cloud Storage
GCS_RAW_BUCKET=rebideo-raw-videos
GCS_PROCESSED_BUCKET=rebideo-processed-videos
# Para desarrollo local con emulador de Storage:
STORAGE_EMULATOR_HOST=http://127.0.0.1:4443

# Integración con api-service
API_SERVICE_URL=http://127.0.0.1:8080
INTERNAL_API_TOKEN=local-secret-token
